# Credentials for database spinned up in docker-compose.yml
export PGUSER=root
export PGPASSWORD=password
export PGDATABASE=weathry_db
export PGHOST=localhost
export PGPORT=5431
export DATABASE_URL=postgresql://root:password@localhost:5431/weathry_db
